body{
    text-align: center;
    background-image: url('Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.btn{
    height:200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin :3rem;
    opacity: 0.9;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}